<header>
  <div class="logo">
    <img src="/src/images/logo.png" alt="logo" />
  </div>
  <nav>
    <ul>
      <li>Chương trình học<ul></ul></li>
      <li>Học bổng</li>
      <li>Cuộc sống Sinh viên</li>
      <li>Tin tức & Sự kiện</li>
      <li>Về chúng tôi</li>
    </ul>
  </nav>
  <div class="abc">
    <p>this is test</p>
    <div class="language-selector">EN|VI</div>
    <div class="Q">search</div>
  </div>
</header>

<style is:global>
  ul {
    outline: 2px solid !important;
  }
</style>
