---
export interface Props {
  itemTitle: string;
  itemLink: string;
  subChildContent?: string;
}

const { itemTitle, itemLink, subChildContent } = Astro.props;
---

<li class="list-item">
  <a class="list-item-link" href={itemLink}>{itemTitle}</a>
  <div class="subContent" set:html={subChildContent} />
</li>
