---
export interface Props {
  title: string;
  link: string;
  subChildContent?: string;
}

const { title, link, subChildContent } = Astro.props;
---

<li class="list-item">
  <a class="list-item-link level0" href={link}>{title}</a>
  <div class="list-item-content subContent" set:html={subChildContent} />
</li>
