@use "../abstracts/" as *;

@font-face {
  font-family: $font-lg-basename;
  font-weight: 300;
  font-display: swap;
  src: url("/src/fonts/LGSmartUI-Light.woff2") format("woff2");
}
@font-face {
  font-family: $font-lg-basename;
  font-weight: 400;
  font-display: swap;
  src: url("/src/fonts/LGSmartUI-Regular.woff2") format("woff2");
}
@font-face {
  font-family: $font-lg-basename;
  font-weight: 600;
  font-display: swap;
  src: url("/src/fonts/LGSmartUI-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: $font-lg-basename;
  font-weight: 700;
  font-display: swap;
  src: url("/src/fonts/LGSmartUI-Bold.woff2") format("woff2");
}
