@use "../abstracts/" as *;

body,
html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  font-family: $font-family-base;
  background-color: $body-background-color;
  font-size: $body-font-size;
  color: $body-text-color;
  line-height: $body-line-height;
  //margin-inline: auto;
  //width: min(80ch, 100% - 4rem);
}

a {
  color: $link-color;
}

a:is(:hover, :focus) {
  color: $link-color-hover;
}
